body { 
	font-family: "Lato",sans-serif; 
	font-style: normal; 
	font-weight: 300; 
	margin: 40px;
} 
	h4 { 
		padding: 0 0 15px 0; margin: 0; 
		font-weight: 600; font-size: 1.1em; 
		color: #330000;
		text-align: center; }
	.mapOptions {
		display: flex; flex-wrap: nowrap; justify-content: space-around; align-items: center;
		width: 800px; height: 50px; padding: 0;
	}




svg { 
	display:block;
	margin-bottom:20;
	}
	.axis { 
		stroke: #757575; stroke-width: 0.5; 
	}
	.xlabel {
		font-size: 15;
		padding: 0; border: none; background: none; outline: none;
		fill: #4D4D4D;
		text-anchor: middle; alignment-baseline: middle;
	}
	.xlabel:hover {
		fill: #1E1E1E;
	    cursor: pointer;
	}
	.xlabel.active {
		fill: #1E1E1E;
		font-size: 30;
	}
	text.ylabel {
		font-size: 15;
		padding: 0; border: none; background: none; outline: none;
		fill: #4D4D4D; stroke-width: 0.1;
		text-anchor: middle; alignment-baseline: middle;		
	}
	circle.ylabel {
		stroke: #999999; stroke-width: 0.5;
	}


	.us-point {
		fill: #303030;	
	}

	.state-point {
		fill: #6699FF;
	}

	path.us-line {
		stroke: #303030; stroke-width: 2; fill: none;
	}

	path.state-line {
		stroke: #D05050; stroke-width: 2; fill: none; opacity: 0.05;
	}
	path.state-line.active {
		stroke: #D05050; stroke-width: 2; fill: none; opacity: 1;
	}

	text.us-line-label {
		alignment-baseline: middle;	
		fill: #4D4D4D; stroke-width: 0.3;
		font-size: 10; font-weight: 600;
	}

	text.state-line-label {
		alignment-baseline: middle;	
		fill: #D05050; stroke-width: 0.3;
		font-size: 10; font-weight: 600;
	}

	.bubble {
	}
	.node:hover {
		cursor: pointer;
	}
	.bubble.active {
		fill: black; 
	}

	.bubble-label { 
		font-size: 10;
		padding: 0; border: none; background: none; outline: none;
		fill: #000000;
		text-anchor: middle; alignment-baseline: middle;	
	}
	.bubble-label.active {
		fill: #FFFFFF;
	}

	rect.non-continental {
		fill: none;
		stroke: #FFFFFF; stroke-width: 0.5;
	}
